<div>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <a href="/"><h1>ActiveQL</h1></a>
      <span class="menu-spacer"></span>
      <div>
        <ng-container *ngIf="entities.length < 5">
          <a *ngFor="let entity of entities"
              mat-button
              [routerLink]="['admin', entity.path]">
            {{ title(entity) }}
          </a>
        </ng-container>

        <ng-container *ngIf="entities.length >= 5">
          <button mat-button [matMenuTriggerFor]="adminMenu">Entities</button>
          <mat-menu #adminMenu="matMenu">
            <a *ngFor="let entity of entities"
                mat-menu-item
                [routerLink]="['admin', entity.path]">
              {{ title(entity) }}
            </a>
          </mat-menu>
        </ng-container>

      </div>
      <span class="flex-spacer"></span>
      <button *ngIf="user" mat-button>
        <mat-icon>person</mat-icon>
        {{ user }}
      </button>
      <button *ngIf="!user" mat-button (click)="login()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar-row class="breadcrumb">
    <a [routerLink]="['/']">
      <mat-icon
          fontSet="material-icons-outlined"
          aria-hidden="false"
          aria-label="Home">
        home_outline
      </mat-icon>
    </a>
    <span id="breadcrumb"></span>
  </mat-toolbar-row>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

<div class="loading" [ngClass]="{'on': loading}">
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</div>

