<div>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <!--button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button-->
      <a href="/"><h1>ActiveQL</h1></a>
      <span class="menu-spacer"></span>
      <div>
        <!--a mat-button [routerLink]="['/admin', 'clients']"> Clients </a>
        <a mat-button [routerLink]="['/admin', 'organisations']"> Organisations </a-->

        <button mat-button [matMenuTriggerFor]="adminMenu">Admin</button>
        <mat-menu #adminMenu="matMenu">
          <a *ngFor="let entity of entities"
              mat-menu-item
              [routerLink]="['admin', entity.path]">
            {{ title(entity) }}
          </a>
        </mat-menu>
      </div>
      <span class="flex-spacer"></span>
      <button *ngIf="user" mat-button>
        <mat-icon>person</mat-icon>
        {{ user }}
      </button>
      <button *ngIf="!user" mat-button (click)="login()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-toolbar-row class="breadcrumb">
    <a [routerLink]="['/']">
      <mat-icon
          fontSet="material-icons-outlined"
          aria-hidden="false"
          aria-label="Home">
        home_outline
      </mat-icon>
    </a>
    <span id="breadcrumb"></span>
  </mat-toolbar-row>

  <div>
    <router-outlet></router-outlet>
  </div>

<div class="loading" [ngClass]="{'on': loading}">
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</div>

